body{
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 2%;
}

h2{
    margin-bottom: 1%;
}

#clientInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

